.container
  %h1.title= @board.title 
  - @tasks.each do |task|
    = link_to task_path(task) do
      .card 
        .card_content 
          .card_title 
            = task.task_title
          .board_content 
            = task.task_content
          .card_detail
            = image_tag 'Oval2.png'
  = link_to new_board_task_path(@board) do
    .card_new
      .card_new_title + Add New board